COMPOSE_PROJECT_NAME=game-gen-dev
TZ=UTC

MYSQL_PORT=3306
MYSQL_DATABASE=gamegen
MYSQL_USER=gamegen
MYSQL_PASSWORD=gamegen_dev_only
MYSQL_ROOT_PASSWORD=gamegen_root_dev_only

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=gamegen
MINIO_ROOT_PASSWORD=gamegen_minio_dev_only

